.error-main{
    height: 38.8rem;
    padding: 1rem;
}

.error-div{
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background: blanchedalmond;
    border-radius: 1rem;
}

.error-icon{
    width: 5rem;
    height: 5rem;
    color: red;
}


.error-header{
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 34px;
    color: #161616;
    padding: 1rem;
}

.error-descrip{
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 34px;
    color: #161616;
    padding: 1rem;
}

.error-btn{
    color: white;
    background-color: #161616;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 40%;
}