.hero-div {
  width: 95%;
  height: 40rem;
  margin: 0 auto;
  padding: 0.5rem;
  background-image: url("../../../Assets/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text-div{
    width: 40%;
    margin: 180px auto;
    padding: 3rem;
}

.hero-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  /* or 117% */

  color: #ffffff;
}

.hero-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #ffffff;
}

.find-van-btn {
  background: #ff8c38;
  color: #ffffff;
  border-radius: 5px;
  width:85%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

/*responsiveness*/

@media screen and (max-width:750px) {
  .hero-div{
    width: 100%;
  }

  .hero-text-div{
    width: 90%;
    padding: 1rem;
  }
}